@import url('https://fonts.googleapis.com/css2?family=Diplomata&family=Kablammo&family=Mouse+Memoirs&family=Mystery+Quest&family=Rubik+Wet+Paint&family=Sigmar+One&display=swap');

body{
    background: linear-gradient(90deg,rgba(25, 22, 84, 1) 0%, rgba(67, 198, 172, 1) 100%);
}

h1{
    font-family: Rubik Wet Paint;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}