@import url('https://fonts.googleapis.com/css2?family=Diplomata&family=Kablammo&family=Mouse+Memoirs&family=Mystery+Quest&family=Sigmar+One&display=swap');

body{
    background: linear-gradient(90deg,rgba(234, 82, 248, 1) 0%, rgba(0, 102, 255, 1) 100%);
}

h1{
    font-family: Kablammo;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}