section{ 
height:100vh; 
width: 100%; 
background-position:center; 
background-repeat: no-repeat; 
background-size: cover; 

} 
.image-1 { 
background-image: url("../img/img1.jpeg") 
} 
.image-2 { 
background-image: url("../img/img2.jpeg"); 
} 
.image-3 { 
background-image: url("../img/img3.webp"); 
} 
.image-4 { 
background-image: url("../img/img4.webp"); 
}