@import url('https://fonts.googleapis.com/css2?family=Diplomata&family=Mouse+Memoirs&family=Mystery+Quest&family=Sigmar+One&display=swap');

body{
    background: linear-gradient(90deg,rgba(120, 159, 12, 1) 0%, rgba(255, 225, 0, 1) 100%);

}

h1{
    font-family: Sigmar One;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}